.localisation {
  background: rgb(233, 232, 232);
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    text-align: center;
    font-size: 18px;
    padding: 5% 0;
    background: transparent;
    border: none;
  }
}
