.restaurant {
    background: $greyColor;
    padding: 7% 6%;
    width: 90%;
    h2 {
        padding: 40px 0;
    }
    .restaurant_list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@import "../../../components/restaurant_card";
@media screen and (min-width: 640px) {
    .restaurant {
        .restaurant_list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}