.loader_pop {
  position: unset;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.63);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-out 3s linear;
  opacity: 0;
}

.loader {
  border-radius: 50%;
  animation: tourne 2s linear;
}
