article {
    background: white;
    box-shadow: $box-shadow;
    border-radius: $box-radius;
    margin-bottom: 30px;
    display: flex;
    overflow: hidden;
    //flex-wrap: wrap;
    //align-items: stretch;
    .article_info {
        width: 100%;
        padding: 3%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        h3 {
            width: 100%;
            padding-right: 40px;
            font-size: 18px;
        }
        p {
            width: 90%;
            font-size: 16px;
            margin: 10px 0 0 0;
        }
        span {
            font-weight: 500;
        }
    }
    .article_selected {
        transition: 0.7s;
        display: flex;
        background-color: $thirdColor;
        width: 0px;
        justify-content: center;
        align-items: center;
        i {
            display: none;
            font-size: 20px;
            color: white;
        }
    }
}

article:hover {
    .article_selected {
        border-radius: 0 20px 20px 0;
        width: 20%;
        i {
            display: block;
        }
    }
    .article_info {
        width: 80%;
        h3 {
            width: 90%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        p {
            width: 90%;
        }
        // .bottomcard {
        //     width: 90%;
        // }
    }
}