.restaurantLink {
  width: 100%;
  text-decoration: none;
  color: black;
}
.restaurant_card {
  position: relative;
  width: 100%;
  height: 250px;
  background: white;
  box-shadow: $box-shadow;
  border-radius: $box-radius;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .restaurant_img {
    border-radius: 20px 20px 0 0;
    height: 70%;
    object-fit: cover;
    object-position: 50% 100%;
  }
  .bottom_card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 4%;
    p {
      margin: 0;
    }
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      position: absolute;
      width: 20%;
      height: 40px;
      right: 2px;
      text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black,
        1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
      color: white;
    }
    i:hover {
      //color: $secondaryColor;
      background: linear-gradient($secondaryColor, $primarycolor);
    }
  }
}
@import "label";

@media screen and (min-width: 640px) {
  .restaurant_card {
    width: 350px;
  }
}
