.restaurantLink {
  width: 100%;
  text-decoration: none;
  color: black;
}
.restaurant_card {
  position: relative;
  width: 100%;
  height: 250px;
  background: white;
  box-shadow: $box-shadow;
  border-radius: $box-radius;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .restaurant_img {
    border-radius: 20px 20px 0 0;
    height: 70%;
    object-fit: cover;
    object-position: 50% 100%;
  }
  .bottom_card {
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a {
      width: 60%;
      text-decoration: none;
      color: black;
      div {
        padding: 4%;
        p {
          margin: 0;
        }
      }
    }

    .empty {
      position: absolute;
      color: black;
      background: white;
      display: block;
      z-index: 3; 
      right: 25px;
      bottom: 25px;
      font-size: 25px;
      
    }

    .full {
      position: absolute;
      right: 25px;
      bottom: 23px;
      display: none;
      font-size: 25px;
      background: -webkit-linear-gradient($secondaryColor, $primarycolor);
      background-clip: content-box;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: unset;
    }

    .divheart:hover {
      
      cursor: pointer;
      .full {
        display: block;
        transition-timing-function: ease-in;
      }
      .empty {
        display: none;
        transition-timing-function: ease-in;
      }
    }
  }
}
@import "label";

@media screen and (min-width: 640px) {
  .restaurant_card {
    width: 350px;
  }
}
