.restaurantLink {
  width: 100%;
  text-decoration: none;
  color: black;
}
.restaurant_card {
  position: relative;
  width: 100%;
  height: 250px;
  background: white;
  box-shadow: $box-shadow;
  border-radius: $box-radius;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .restaurant_img {
    border-radius: 20px 20px 0 0;
    height: 70%;
    object-fit: cover;
    object-position: 50% 100%;
  }
  .bottom_card {
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a {
      width: 60%;
      text-decoration: none;
      color: black;
      div {
        padding: 4%;
        p {
          margin: 0;
        }
      }
    }
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;

      width: 20%;
      height: 100%;
      right: 2px;

      color: rgb(141, 141, 141);
    }
    i:hover {
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      background: linear-gradient($secondaryColor, $primarycolor);

      //color: $secondaryColor;
    }
  }
}
@import "label";

@media screen and (min-width: 640px) {
  .restaurant_card {
    width: 350px;
  }
}
