body {
    font-family: $primefontfamily;
    padding: 0;
    margin: 0;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 30px;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 28px;
}

h3 {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

p {
    font-size: 18px;
    font-weight: 300;
}

button {
    font-size: 18px;
}

a {
    text-decoration: none;
}