@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
body {
  font-family: "roboto", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 30px;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 28px;
}

h3 {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

p {
  font-size: 18px;
  font-weight: 300;
}

button {
  font-size: 18px;
}

a {
  text-decoration: none;
}

button {
  padding: 6% 10%;
  border-radius: 100px;
  border: none;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 3px -1px 15px -2px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: center;
  padding: 5%;
}
header .arrowback {
  align-self: baseline;
  justify-self: flex-start;
}
header img {
  width: 55%;
}

@media screen and (min-width: 640px) {
  header img {
    width: 40%;
  }
}
.localisation {
  background: #e9e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.localisation input {
  text-align: center;
  font-size: 18px;
  padding: 5% 0;
  background: transparent;
  border: none;
}

@media screen and (min-width: 640px) {
  .localisation {
    width: 40%;
    margin: 0 auto;
    border-radius: 25px;
  }
}
@media screen and (min-width: 640px) {
  .with_aside {
    padding: 2%;
  }
}
.discover {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  align-items: center;
  padding: 15% 10%;
  text-align: center;
}
.discover button {
  margin-top: 20px;
  color: white;
}

@media screen and (min-width: 640px) {
  .discover {
    border-radius: 25px;
    padding: 5% 10%;
  }
  .discover button {
    padding: 4%;
  }
}
@media screen and (min-width: 1200px) {
  .discover {
    flex-direction: row;
    justify-content: space-around;
  }
  .discover button {
    margin-top: 0;
    padding: 2%;
  }
}
.fonctionnement {
  padding: 8% 2%;
}
.fonctionnement h2 {
  padding: 8% 4%;
}
.fonctionnement .notice_cards_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fonctionnement .notice_card {
  background: #f7f7f7;
  position: relative;
  width: 85%;
  padding: 3% 3%;
  border-radius: 25px;
  align-items: center;
  display: flex;
  margin-bottom: 25px;
  box-shadow: 5px 5px 15px -4px #0000002d;
}
.fonctionnement .notice_card p {
  width: 80%;
  font-size: 18px;
  font-weight: bold;
}
.fonctionnement .notice_card span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  background: #9356dc;
  width: 25px;
  height: 25px;
  position: absolute;
  left: -10px;
  top: 30px;
}
.fonctionnement .notice_card i {
  display: flex;
  justify-content: center;
  width: 30%;
}
.fonctionnement .notice_card:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.fonctionnement .notice_card:hover i {
  color: #9356dc;
}

@media screen and (min-width: 640px) {
  .fonctionnement {
    padding: 0;
  }
  .fonctionnement .notice_cards_container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .fonctionnement .notice_card {
    padding: 1%;
    width: 25%;
  }
  .fonctionnement h2 {
    padding: 8% 0;
  }
}
.restaurant {
  background: #f7f7f7;
  padding: 7% 6%;
}
.restaurant h2 {
  padding: 40px 0;
}
.restaurant .restaurant_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurantLink {
  width: 100%;
  text-decoration: none;
  color: black;
}

.restaurant_card {
  position: relative;
  width: 100%;
  height: 250px;
  background: white;
  box-shadow: 3px -1px 15px -2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.restaurant_card .restaurant_img {
  border-radius: 20px 20px 0 0;
  height: 70%;
  object-fit: cover;
  object-position: 50% 100%;
}
.restaurant_card .bottom_card {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurant_card .bottom_card a {
  width: 60%;
  text-decoration: none;
  color: black;
}
.restaurant_card .bottom_card a div {
  padding: 4%;
}
.restaurant_card .bottom_card a div p {
  margin: 0;
}
.restaurant_card .bottom_card .empty {
  position: absolute;
  color: black;
  background: white;
  display: block;
  z-index: 3;
  right: 25px;
  bottom: 25px;
  font-size: 25px;
}
.restaurant_card .bottom_card .full {
  position: absolute;
  right: 25px;
  bottom: 23px;
  display: none;
  font-size: 25px;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: unset;
}
.restaurant_card .bottom_card .divheart:hover {
  cursor: pointer;
}
.restaurant_card .bottom_card .divheart:hover .full {
  display: block;
  transition-timing-function: ease-in;
}
.restaurant_card .bottom_card .divheart:hover .empty {
  display: none;
  transition-timing-function: ease-in;
}

.label {
  top: 15px;
  right: 15px;
  padding: 2% 4%;
  background: #99e2d0;
  position: absolute;
  color: green;
}

@media screen and (min-width: 640px) {
  .restaurant_card {
    width: 350px;
  }
}
@media screen and (min-width: 640px) {
  .restaurant {
    padding: 2%;
  }
  .restaurant .restaurant_list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.title {
  padding: 6% 3%;
  font-family: "Shrikhand";
  width: 95%;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title h1 {
  font-weight: 100;
}

.mainsection {
  border-radius: 30px 30px 0 0;
  background: #faf9f9;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainsection button {
  color: white;
  padding: 4% 13%;
  margin-bottom: 60px;
}

main img {
  width: 100%;
  object-fit: cover;
}

.menu_section {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu_section h2 {
  align-self: flex-start;
  font-weight: 300;
  font-size: 20px;
}
.menu_section hr {
  width: 15%;
  height: 3px;
  border: none;
  background: #99e2d0;
  align-self: flex-start;
  margin-bottom: 20px;
}

.menu_card {
  background: white;
  width: 100%;
  height: 60px;
  box-shadow: 3px -1px 15px -2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 3%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.menu_card .menu_info {
  width: 90%;
  align-items: center;
}
.menu_card .menu_info h3 {
  font-weight: 550;
  padding: 0;
  margin: 0;
}
.menu_card .menu_info p {
  font-weight: 100;
  padding: 5px 0;
  margin: 0;
}
.menu_card span {
  align-self: flex-end;
}

#Footer_title {
  color: white;
  font-size: 22px;
  font-family: "Shrikhand";
}

.rotate {
  transform: rotate(-45deg);
}

footer {
  padding: 8%;
  background-color: #3a3a3a;
}
footer ul {
  padding: 0;
  margin: 0;
}
footer li {
  color: white;
  list-style: none;
  margin-top: 15px;
}
footer li a {
  font-size: 17px;
  color: white;
}
footer i {
  width: 20px;
}

@media screen and (min-width: 1000px) {
  footer {
    padding-top: 3%;
  }

  #Footer_title {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    font-size: 45px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=style.css.map */
