@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
body {
  font-family: "roboto", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 30px;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 28px;
}

h3 {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

p {
  font-size: 18px;
  font-weight: 300;
}

button {
  font-size: 18px;
}

a {
  text-decoration: none;
}

button {
  padding: 6% 10%;
  border-radius: 100px;
  border: none;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 3px -1px 15px -2px rgba(0, 0, 0, 0.1);
}

.orderbutton {
  width: 50%;
  color: white;
  padding: 4% 13%;
  margin-bottom: 60px;
  align-self: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
header .arrowback {
  left: 25px;
  position: absolute;
  color: black;
  font-size: 24px;
}
header img {
  width: 55%;
}

@media screen and (min-width: 640px) {
  header {
    padding: 3%;
  }
  header img {
    width: 30%;
  }
}
.localisation {
  background: #e9e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.localisation input {
  text-align: center;
  font-size: 18px;
  padding: 5% 0;
  background: transparent;
  border: none;
}

@media screen and (min-width: 640px) {
  .localisation {
    width: 40%;
    margin: 0 auto;
    border-radius: 25px;
  }
}
@media screen and (min-width: 640px) {
  .with_aside {
    padding: 2%;
  }
}
.discover {
  display: flex;
  flex-direction: column;
  background-color: #faf9f9;
  align-items: center;
  padding: 15% 10%;
  text-align: center;
}
.discover button {
  margin-top: 20px;
  color: white;
}

@media screen and (min-width: 640px) {
  .discover {
    border-radius: 25px;
    padding: 5% 10%;
  }
  .discover button {
    padding: 4%;
  }
}
@media screen and (min-width: 1200px) {
  .discover {
    flex-direction: row;
    justify-content: space-around;
  }
  .discover button {
    margin-top: 0;
    padding: 2%;
  }
}
.fonctionnement {
  padding: 8% 2%;
}
.fonctionnement h2 {
  padding: 8% 4%;
}
.fonctionnement .notice_cards_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fonctionnement .notice_card {
  background: #faf9f9;
  position: relative;
  width: 85%;
  padding: 3% 3%;
  border-radius: 25px;
  align-items: center;
  display: flex;
  margin-bottom: 25px;
  box-shadow: 5px 5px 15px -4px #0000002d;
}
.fonctionnement .notice_card p {
  width: 80%;
  font-size: 18px;
  font-weight: bold;
}
.fonctionnement .notice_card span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  background: #9356dc;
  width: 25px;
  height: 25px;
  position: absolute;
  left: -10px;
  top: 30px;
}
.fonctionnement .notice_card i {
  display: flex;
  justify-content: center;
  width: 30%;
}
.fonctionnement .notice_card:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.fonctionnement .notice_card:hover i {
  color: #9356dc;
}

@media screen and (min-width: 640px) {
  .fonctionnement {
    padding: 0;
  }
  .fonctionnement .notice_cards_container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .fonctionnement .notice_card {
    padding: 1%;
    width: 25%;
  }
  .fonctionnement h2 {
    padding: 8% 4%;
  }
}
.restaurant {
  background: #faf9f9;
  padding: 7% 6%;
  width: 90%;
}
.restaurant h2 {
  padding: 40px 0;
}
.restaurant .restaurant_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurantLink {
  width: 100%;
  text-decoration: none;
  color: black;
}

.restaurant_card {
  position: relative;
  width: 100%;
  height: 250px;
  background: white;
  box-shadow: 3px -1px 15px -2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.restaurant_card .restaurant_img {
  border-radius: 20px 20px 0 0;
  height: 70%;
  object-fit: cover;
  object-position: 50% 100%;
}
.restaurant_card .bottom_card {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurant_card .bottom_card a {
  width: 60%;
  text-decoration: none;
  color: black;
}
.restaurant_card .bottom_card a div {
  padding: 4%;
}
.restaurant_card .bottom_card a div p {
  margin: 0;
}
.restaurant_card .bottom_card .empty {
  position: absolute;
  color: black;
  background: white;
  display: block;
  z-index: 3;
  right: 25px;
  bottom: 25px;
  font-size: 25px;
}
.restaurant_card .bottom_card .full {
  position: absolute;
  right: 25px;
  bottom: 23px;
  display: none;
  font-size: 25px;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: unset;
}
.restaurant_card .bottom_card .divheart:hover {
  cursor: pointer;
}
.restaurant_card .bottom_card .divheart:hover .full {
  display: block;
  transition-timing-function: ease-in;
}
.restaurant_card .bottom_card .divheart:hover .empty {
  display: none;
  transition-timing-function: ease-in;
}

.label {
  top: 15px;
  right: 15px;
  padding: 2% 4%;
  background: #99e2d0;
  position: absolute;
  color: green;
}

@media screen and (min-width: 640px) {
  .restaurant_card {
    width: 350px;
  }
}
@media screen and (min-width: 640px) {
  .restaurant .restaurant_list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.title {
  margin-top: -40px;
  background-color: #faf9f9;
  border-radius: 25px 25px 0 0;
  padding: 25px 3%;
  font-family: "Shrikhand";
  width: 94%;
  font-size: 22px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title h1 {
  font-weight: 100;
}
.title .divheart {
  width: 5%;
}
.title .empty {
  position: absolute;
  color: black;
  background: white;
  display: block;
  bottom: 39px;
  right: 22px;
  z-index: 3;
  font-size: 25px;
}
.title .full {
  position: absolute;
  display: none;
  font-size: 25px;
  bottom: 36px;
  right: 22px;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: unset;
}
.title .divheart:hover {
  cursor: pointer;
}
.title .divheart:hover .full {
  display: block;
  transition-timing-function: ease-in;
}
.title .divheart:hover .empty {
  display: none;
  transition-timing-function: ease-in;
}

@media screen and (min-width: 640px) {
  .title {
    justify-content: center;
  }
}
main {
  display: flex;
  flex-direction: column;
}

.grey_main {
  background: #faf9f9;
}
.grey_main .mainsection {
  background: #faf9f9;
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 640px) {
  main {
    border-radius: 0 0 25px 25px;
  }

  .grey_main .mainsection {
    justify-content: space-between;
    flex-direction: row;
  }
  .grey_main .orderbutton {
    margin: 30px 0;
    width: unset;
    padding: 1% 3%;
  }
}
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 370px;
  display: flex;
  flex-direction: column-reverse;
}
.hero .title {
  margin-top: -40px;
  background-color: #faf9f9;
  border-radius: 25px 25px 0 0;
  padding: 25px 3%;
  font-family: "Shrikhand";
  width: 94%;
  font-size: 22px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .title h1 {
  font-weight: 100;
}
.hero .title .divheart {
  width: 5%;
}
.hero .title .empty {
  position: absolute;
  color: black;
  background: white;
  display: block;
  bottom: 39px;
  right: 22px;
  z-index: 3;
  font-size: 25px;
}
.hero .title .full {
  position: absolute;
  display: none;
  font-size: 25px;
  bottom: 36px;
  right: 22px;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: unset;
}
.hero .title .divheart:hover {
  cursor: pointer;
}
.hero .title .divheart:hover .full {
  display: block;
  transition-timing-function: ease-in;
}
.hero .title .divheart:hover .empty {
  display: none;
  transition-timing-function: ease-in;
}
@media screen and (min-width: 640px) {
  .hero .title {
    justify-content: center;
  }
}

.leDeliceDesSens {
  background-image: url("../../../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.laPaletteDuGout {
  background-image: url("../../../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.laNoteEnchantee {
  background-image: url("../../../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.aLaFrancaise {
  background-image: url("../../../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

@media screen and (min-width: 640px) {
  .hero {
    height: 600px;
  }
}
.menu_section {
  width: 100%;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
}
.menu_section h2 {
  align-self: flex-start;
  font-weight: 300;
  font-size: 20px;
  margin-left: 5px;
}
.menu_section hr {
  margin-left: 5px;
  width: 15%;
  height: 3px;
  border: none;
  background: #99e2d0;
  align-self: flex-start;
  margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
  .menu_section {
    width: 24%;
    padding: 3%;
    border-radius: 20px;
    border: white solid 10px;
  }
}
article {
  background: white;
  box-shadow: 3px -1px 15px -2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
article .article_info {
  padding: 3%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
article .article_info h3 {
  width: 100%;
  padding-right: 40px;
  font-size: 18px;
}
article .article_info .bottomcard {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
article .article_info .bottomcard p {
  font-size: 16px;
  margin: 3% 0 0 0;
}
article .article_info .bottomcard span {
  margin: 0 10px;
  font-weight: 500;
}
article .article_selected {
  transition: 0.7s;
  display: flex;
  background-color: #99e2d0;
  width: 0px;
  justify-content: center;
  align-items: center;
}
article .article_selected i {
  display: none;
  font-size: 20px;
  color: white;
}

article:hover .article_selected {
  border-radius: 0 20px 20px 0;
  width: 1px;
  padding: 0 12%;
}
article:hover .article_selected i {
  display: unset;
}
article:hover .article_info .bottomcard {
  width: 90%;
}
article:hover .article_info .bottomcard p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#Footer_title {
  color: white;
  font-size: 22px;
  font-family: "Shrikhand";
}

.rotate {
  transform: rotate(-45deg);
}

footer {
  padding: 8%;
  background-color: #3a3a3a;
}
footer ul {
  padding: 0;
  margin: 0;
}
footer li {
  color: white;
  list-style: none;
  margin-top: 15px;
}
footer li a {
  font-size: 17px;
  color: white;
}
footer i {
  width: 20px;
}

@media screen and (min-width: 1000px) {
  footer {
    padding-top: 3%;
  }

  #Footer_title {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    font-size: 45px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=style.css.map */
