header {
  display: flex;
  justify-content: center;
  padding: 5%;
  .arrowback{
    align-self: baseline;
    justify-self: flex-start;
  }
  img {
    width: 55%;
  }
}
@media screen and (min-width: 640px) {
  header {
    img {
      width: 40%;
    }
  }
}
