header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;

  .arrowback {
    color: black;
    font-size: 24px;
    align-self: center;
  }
  img {
    margin: auto;
    width: 55%;
  }
}
@media screen and (min-width: 640px) {
  header {
    padding: 3%;
    img {
      width: 30%;
    }
  }
}
