.mainsection {
  
  background: $greyColor;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    color: white;
    padding: 4% 13%;
    margin-bottom: 60px;
  }
}
