main{
  background: $greyColor;
  justify-content: center;
  .mainsection {
    
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  button {
    color: white;
    padding: 4% 13%;
    margin-bottom: 60px;
  }
}


@media screen and (min-width: 640px) {
  .mainsection {
    flex-direction: row;
  }
}
